name: Deploy the backend
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tags: unstoppablethecoder/todo-app-backend:${{github.sha}}

      - name: Add SSH private key and set permissions
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.PRIVATE_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: SSH and deploy to VM
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_ed25519 ubuntu@13.233.102.135 "
            sudo docker pull unstoppablethecoder/todo-app-backend:${{github.sha}} &&
            sudo docker stop user_backend || true &&
            sudo docker rm user_backend || true &&
            sudo docker run --name user_backend -d -p 8080:8080 -e DATABASE_URL=\"$DATABASE_URL\" unstoppablethecoder/todo-app-backend:${{github.sha}}
          "
